@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rubik";
  src: url(../public/rubik_base.ttf);
}

* {
  font-family: "Rubik", sans-serif;
}

.glass {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(42px);
}

.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.color {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.color-2 {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    0.2s both;
  animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s
    both;
}

.color-3 {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    0.4s both;
  animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s
    both;
}

.color-4 {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    0.6s both;
  animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s
    both;
}

.colors:hover .colors-tooltip {
  display: block;
}

.borders {
  border: 1px solid black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 100px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  bottom: 130%;
  left: 50%;
  margin-left: -50px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1f2937 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    reverse both;
  animation: scale-up-hor-left 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) reverse
    both;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 8px;
  border-radius: 5px;
  background: #1f2937;
  color: #ffffff;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #1f2937;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #1f2937;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #1f2937;
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #1f2937;
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

.nav-scale-up-ver-top {
  -webkit-animation: nav-scale-up-ver-top 0.7s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) backwards;
  animation: nav-scale-up-ver-top 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    backwards;
}

.scale-up-ver-top-rev {
  -webkit-animation: scale-up-ver-top-rev 0.7s
    cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse;
  animation: scale-up-ver-top-rev 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    reverse;
}

.overflow-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.overflow-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.overflow-list::-webkit-scrollbar-thumb {
  background-color: rgb(240, 240, 240); /* color of the scroll thumb */
  border-radius: 30px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

/* Keyframes */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 100;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 100;
  }
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@-webkit-keyframes nav-scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes nav-scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@-webkit-keyframes scale-up-ver-top-rev {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top-rev {
  0% {
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
